{% ckan_extends %}

{% block package_info %}
    {{ super() }}

    <h2 class="module-heading"><i class="icon-building"></i> {{ _('Recommended datasets') }}</h2>
    {% if pkg.recommended_datasets %}
        {% for item in pkg.recommended_datasets %}
            <ul>
            <li><a href="{{h.url_for(controller='package', action='read', id=item.id)}}">{{item.title}}</a></li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
